main{
    display: flex;
    flex-direction: column;
    position: relative;

}


.main__content{
    margin-top: 15px;
   padding: 2rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
  background: linear-gradient(black,black, #c3c3c3, white);
}

div[content]{
   display: flex;
   flex-direction: row;
   margin: 2rem;
}

div[content]:nth-child(2n){
   flex-direction: row-reverse;
}

.block__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.block__content img{
   width: 30rem;
   height: 20rem;
   margin: 2rem;
   background-color: black;
}

.text__content{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 30rem;
   height: 20rem;
}

.hexInfo{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.hexInfo h2{
   margin-top: 15px;
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   font-size: 25px;
   color: white;
}





