@import url("./header.css");
@import url("./body.css");
@import url("./main.css");
@import url("./hexagon_effect.css");
@import url("./container_exagon.css");
@import url("./soldier_image.css");
@import url("./video_play.css");


.video_play{
    position: absolute;
    width: 40rem;
    height: 20rem;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0)) 
    drop-shadow(2px 2px 10px black) 
    drop-shadow(1px 1px 10px black)
    drop-shadow(1px 1px 10px black);
    background-color: rgb(0, 0, 0);
}





