.block_shadow{
    z-index: 6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20rem;
    border-top: 5px solid rgb(255, 30, 0) ;
    background: linear-gradient(rgb(29, 29, 29),black);
}

.hex{
    width: 13rem;
    height: 12rem;
    z-index: 2;
    background-color: white;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: all 1s ease-in-out;
    filter: contrast(110%);
    background-size: cover;
    
}
.hex:hover{
    transform: translateY(-15px);
    height: 14rem;
    width: 15rem;
    cursor: pointer;
    
}
.spart_fire{
    position: absolute;
    left: 4rem;
    top: -50%;
    filter: contrast(120%);
    width: 60rem;
    height: 50rem;
    
    margin-bottom: 10rem;
    transform: rotateZ(-40deg);
}

.spart_fire2{
    position: absolute;
    right: 4rem;
    top: 10%;
    filter: contrast(120%);
    width: 60rem;
    height: 50rem;
    margin-bottom: 10rem;
    transform: rotateZ(120deg);
}

.block_shadow .hexInfo .hex{
    background-repeat: no-repeat;
    
    
}






.block_shadow .hexInfo:nth-child(3) >.hex{
    background: url("../imgs/png/maps.jpg");
    filter: contrast(110%);
    background-size: cover;
   
}

.block_shadow .hexInfo:nth-child(2) >.hex{
    background-image: url("../imgs/teste.png");
  
}

.block_shadow .hexInfo:nth-child(1) >.hex{
    background-image: url("../imgs/alvo.png");
    filter: contrast(110%);
    background-size: cover;
    
}



